@font-face {
    font-family: 'Bulletto Killa';
    src: url('fonts/Bulletto Killa.ttf') format('truetype');

    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(img/bodyimage/desert.png);
    background-position: center;
    object-fit: cover
}
canvas{
    background-color: black;
    box-shadow: 0px 0px 298px 40px rgba(138,138,138,1);
    
}

.startscreen{
    height: 480px;
    width: 720px;
    position: absolute;
}
.startgamebtn{
    position: fixed;
    top: 350px;
    right: 880px;
    z-index: 10;
    height: 50px;
    width: 150px;
    font-family: 'zabars';
    font-size: 30px;
    border-radius: 35px;
    outline: none;
    border-style: none;
    background-color: #FFDF00;
    cursor: pointer;
}
.startgamebtn:hover {
    scale: 1.1;
    transition: all 75ms;
}
h1{
    font-family: 'zabars';
    font-size: 80px;
    
}
